.cards {
  // background-color: $color-bg;
  position: relative;
  padding: 24px 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.no-match::before {
    display: flex;
  }

  &::before {
    content: 'Извините, совпадений не обнаружено';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    z-index: 10;
    background-color: $color-bg;
    border-radius: 15px;
    color: #fff;
    font-size: 34px;
    text-align: center;
  }

  &_inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 15px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 34px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 34px */
  }
}

.card {
  position: relative;
  background-color: $color-bg;
  width: 320px;
  height: 260px;
  border: 2px solid $slider;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.1s;
  user-select: none;

  &.active {
    border: 2px solid gold;
  }

  &::before {
    position: absolute;
    display: none;
    align-items: center;
    content: 'Извините, все слоты заполнены';
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgb(51, 51, 51, 0.9);
    border: 2px solid transparent;
    border-radius: 15px;
    color: #fff;
    font-size: 34px;
    text-align: center;
  }

  &.message {
    pointer-events: none;
  }

  &.message::before {
    display: flex;
  }

  &_title {
    padding-top: 10px;
  }

  &_inner-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }

  &_img {
    width: 110px;
    height: 110px;
    align-self: center;
  }

  &_description {
    font-size: 20px;
    color: #fff;
  }
}
