.filters-column {
  width: 30%;
  background-color: $color-bg;
  padding: 16px;
}

.sort {
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  // align-items: center;
  margin-top: 20px;
}

.select {
  position: relative;
  display: flex;
  width: 360px;
  height: 48px;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: 6px;
  margin-top: 16px;

  &_list {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #237e79;
    background-image: none;
    flex: 1;
    padding: 0 8px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;

    &::-ms-expand {
      display: none;
    }
  }

  &::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
  }

  &:hover::after {
    color: #23b499;
  }
}

.shape {
  margin: 20px 0;

  &_list {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
  }

  &-item {
    display: flex;
    align-items: flex-end;
    height: 70px;
    background-repeat: no-repeat;
    background-position: top;
    color: #fff;
    transition: 0.1s;

    &_1 {
      background-image: url('./assets/svg/bell.svg');
    }
    &_2 {
      background-image: url('./assets/svg/ball.svg');
    }
    &_3 {
      background-image: url('./assets/svg/cone.svg');
    }
    &_4 {
      background-image: url('./assets/svg/snowflake.svg');
    }
    &_5 {
      background-image: url('./assets/svg/toy.svg');
    }

    &:hover {
      cursor: pointer;
      filter: invert(10%) sepia(0%) saturate(0%) hue-rotate(64deg) brightness(97%) contrast(97%);
    }

    &.active {
      filter: invert(39%) sepia(92%) saturate(618%) hue-rotate(116deg) brightness(97%) contrast(98%);
    }
  }
}

.title {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin-left: 14px;
}

.color {
  &_list {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-top: 16px;
  }

  &-item {
    appearance: none;

    &#white + label:before {
      background-color: #fff;
    }
    &#yellow + label:before {
      background-color: #fdd700;
    }
    &#red + label:before {
      background-color: #fd0000;
    }
    &#blue + label:before {
      background-color: #2299eb;
    }
    &#green + label:before {
      background-color: #08aa05;
    }

    & + label:before {
      content: '';
      -webkit-appearance: none;
      border-radius: 4px;
      padding: 15px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 5px;
    }

    & + label:after {
      content: '';
      display: block;
      visibility: hidden;
      position: relative;
      bottom: 27px;
      left: 9px;
      width: 12px;
      height: 20px;
      border: 1px solid #fff;
      border-width: 0 4px 4px 0;
      transform: rotate(45deg);
    }

    &:checked + label:after {
      visibility: visible;
    }

    &#white:checked + label:after {
      border-color: #999;
    }
  }
}

.size {
  margin: 16px 0;

  &_list {
    display: flex;
    justify-content: space-around;
    width: 380px;
    margin-top: 16px;
  }
}

label {
  font-size: 18px;
  color: #fff;
}

.input-item {
  appearance: none;

  & + label:before {
    content: '';
    -webkit-appearance: none;
    border-radius: 4px;
    padding: 11px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border: 2px solid #fff;
  }

  & + label:after {
    content: '';
    display: block;
    visibility: hidden;
    position: relative;
    bottom: 23px;
    left: 8px;
    width: 10px;
    height: 16px;
    border: 1px solid #fff;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
  }

  &:checked + label:after {
    visibility: visible;
  }
}

.favorite {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 20px 0 0 12px;

  label {
    font-size: 22px;
  }
}
