$globe-width: 12px;
$globe-height: 28px;
$globe-spacing: 40px;
$globe-spread: 3px;
$light-off-opacity: 0.4;
$rotationDegree: 20deg;

.garland_container {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: -20%;
  width: 100%;
  height: 100%;
  z-index: 20;
  pointer-events: none;

  &.blue li {
    background: rgba(97, 97, 255, 1);
    box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread rgba(97, 97, 255, 1);
    animation-name: flash-blue;
  }

  &.green li {
    background: rgba(52, 218, 52, 1);
    box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread rgba(52, 218, 52, 1);
    animation-name: flash-green;
  }

  &.yellow li {
    background: rgba(243, 243, 49, 1);
    box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread rgba(243, 243, 49, 1);
    animation-name: flash-yellow;
  }

  &.red li {
    background: rgba(233, 35, 35, 1);
    box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread rgba(233, 35, 35, 1);
    animation-name: flash-red;
  }

  &.multicolor {
    li:nth-child(4n + 1) {
      background: rgba(233, 35, 35, 1);
      box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread rgba(233, 35, 35, 1);
      animation-name: flash-red;
    }
    li:nth-child(4n + 2) {
      background: rgba(243, 243, 49, 1);
      box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread rgba(243, 243, 49, 1);
      animation-name: flash-yellow;
    }
    li:nth-child(4n + 3) {
      background: rgba(52, 218, 52, 1);
      box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread rgba(52, 218, 52, 1);
      animation-name: flash-green;
    }
    li:nth-child(4n) {
      background: rgba(97, 97, 255, 1);
      box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread rgba(97, 97, 255, 1);
      animation-name: flash-blue;
    }
  }
}

.lightrope {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 50%;
  z-index: 1;
  margin: -15px 0 0 0;
  padding: 0;
  padding-left: 15%;
  pointer-events: none;
  width: 100%;
  transform: rotate($rotationDegree);

  &.one {
    top: 35%;
    padding-left: 10%;
  }
  &.two {
    top: 50%;
    padding-left: 13%;
  }
  &.three {
    top: 65%;
    padding-left: 12%;
  }
  &.four {
    top: 80%;
    padding-left: 12%;
  }

  & li {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    transform: rotate(-$rotationDegree);
    width: $globe-width;
    height: $globe-height;
    border-radius: 50%;
    margin: $globe-spacing/2;
    display: inline-block;
    pointer-events: none;

    &:before {
      content: '';
      position: absolute;
      background: #222;
      width: ($globe-width - 2);
      height: $globe-height/3;
      border-radius: 3px;
      top: (0 - ($globe-height/6));
      left: 1px;
    }

    &:after {
      content: '';
      top: (0 - $globe-height/2);
      left: $globe-width - 3;
      position: absolute;
      width: $globe-spacing + 12;
      height: ($globe-height/3 * 2);
      border-bottom: solid #222 2px;
      // border-radius: 50%;
      transform: rotate($rotationDegree);
    }
    &:last-child:after {
      content: none;
    }
    &:first-child {
      margin-left: -$globe-spacing;
    }
  }
}

@keyframes flash-blue {
  0%,
  100% {
    background: rgba(97, 97, 255, 1);
    box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread rgba(97, 97, 255, 1);
  }
  50% {
    background: rgba(67, 67, 212, $light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread rgba(97, 97, 255, 0.2);
  }
}
@keyframes flash-green {
  0%,
  100% {
    background: rgba(52, 218, 52, 1);
    box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread rgba(52, 218, 52, 1);
  }
  50% {
    background: rgba(52, 218, 52, $light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread rgba(52, 218, 52, 0.2);
  }
}
@keyframes flash-yellow {
  0%,
  100% {
    background: rgba(243, 243, 49, 1);
    box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread rgba(243, 243, 49, 1);
  }
  50% {
    background: rgba(243, 243, 49, $light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread rgba(243, 243, 49, 0.2);
  }
}
@keyframes flash-red {
  0%,
  100% {
    background: rgba(233, 35, 35, 1);
    box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread rgba(233, 35, 35, 1);
  }
  50% {
    background: rgba(233, 35, 35, $light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width * 2 $globe-spread rgba(233, 35, 35, 0.2);
  }
}
