.slider {
  margin-top: 10px;
  &_amount,
  &_year {
    width: 320px;
  }

  &_wrapper {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  &_input {
    width: 65px;
    height: 35px;
    margin: 0 32px;
    border-radius: 15px;
    background-color: transparent;
    border: 2px solid $slider;
    outline: none;
    text-align: center;
    color: #fff;
    font-size: 20px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
