.slider {
  &_amount {
    width: 320px;
  }

  &_wrapper {
    display: flex;
  }

  &_input {
    width: 40px;
    height: 25px;
    margin: 0 32px;
    border-radius: 15px;
    background-color: lightpink;
  }
}
